DJANGO_CONFIGURATION=Test
DJANGO_SECRET_KEY=local-testing-key-123
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_RELEASE_VERSION=1.0.0

DJANGO_DB_NAME=nest_test_db
DJANGO_DB_USER=dummy
DJANGO_DB_PASSWORD=dummy
DJANGO_DB_HOST=localhost
DJANGO_DB_PORT=5432

DJANGO_REDIS_HOST=127.0.0.1
DJANGO_REDIS_PASSWORD=dummy

DJANGO_ALGOLIA_APPLICATION_ID=dummy
DJANGO_ALGOLIA_WRITE_API_KEY=dummy
DJANGO_ALGOLIA_EXCLUDED_LOCAL_INDEX_NAMES=none

DJANGO_OPEN_AI_SECRET_KEY=test-key
DJANGO_SLACK_BOT_TOKEN=dummy
DJANGO_SLACK_SIGNING_SECRET=dummy

GEMINI_API_KEY=test-gemini-key